/* $Id:

/*
 * plain Grail STYLES
 *
 * In this stylesheet, we have included all of the classes and IDs from this
 * theme's tpl.php files. We have also included many of the useful Drupal core
 * styles to make it easier for theme developers to see them.
 *
 * Many of these styles are over-riding Drupal's core stylesheets, so if you
 * remove a declaration from here, the styles may still not be what you want
 * since Drupal's core stylesheets are still styling the element. See the
 * drupal6-reference.css file for a list of all Drupal 5.x core styles.
 *
 * In addition to the style declarations in this file, other Drupal styles that
 * you might want to override or augment are those for:
 *
 *   Book Navigation  See line 74  of Zen's drupal6-reference.css file
 *   Forum            See line 197 of Zen's drupal6-reference.css file
 *   Menus            See line 667 of Zen's drupal6-reference.css file
 *   News Aggregator  See line 20  of Zen's drupal6-reference.css file
 *   Polls            See line 287 of Zen's drupal6-reference.css file
 *   Search           See line 320 of Zen's drupal6-reference.css file
 *   User Profiles    See line 945 of Zen's drupal6-reference.css file
 */


/** body **/
body {
color:#333;
font:72% arial,helvetica,verdana,sans-serif;
line-height:normal;
text-align:center
}

#page { 
}

#page-inner {
}

/** header **/
#header {
}

#header-inner {
}

#logo-title /* Wrapper for logo,website name,and slogan */ {
}

#logo /* Wrapper for logo */ {
}

#logo-image /* The actual logo image */ {
}

h1#site-name,div#site-name /* The name of the website */ {
font-size:2em;
line-height:1.3em
}

#site-name a:link,#site-name a:visited {
color:#fff;
text-decoration:none
}

#site-name a:hover {
text-decoration:none
}

#site-slogan /* The slogan (or tagline) of a website */ {
}

#header-blocks /* Wrapper for any blocks placed in the header region */ {
}

/** main (container for everything else) **/
#main {
}

#main-inner {
}

/** content **/
#content {
}

#content-inner {
}

#mission /* The mission statement of the site (displayed on homepage) */ {
}

#content-top /* Wrapper for any blocks placed in the "content top" region */ {
}

#content-header /* Wrapper for breadcrumb,title,messages,tabs,and help */ {
}

.breadcrumb /* The path to the current page in the form of a list of links */ {
padding-bottom:0
/* Undo system.css */
}

h1.title,/* The title of the page */
h2.title,/* Block title or the title of a piece of content when it is given in a list of content */
h3.title /* Comment title */ {
margin:0
}

div.messages /* Important messages (status,warning,and error) for the user */ {
}

div.status /* Normal priority messages */ {
}

div.warning,tr.warning /* Medium priority messages */ {
/* border: 1px solid #f0c020; */
/* Drupal core uses: 1px solid #f0c020 */
}

div.error,tr.error /* High priority messages. See also the .error declaration below. */ {
}

div.tabs /* See also the tabs.css file. */ {
}

.help /* Help text on a page */ {
margin:1em 0
}

.more-help-link /* Link to more help */ {
font-size:0.85em;
text-align:right
}

#content-area /* Wrapper for the actual page content */ {
}

.pager /* A list of page numbers when more than 1 page of content is available */ {
clear:both;
margin:1em 0;
text-align:center
}

.pager a,.pager strong.pager-current {
padding:0.5em
}

.feed-icons /* The links to the RSS or Atom feeds for the current list of content */ {
margin:0 1em 0 0
}

#content-bottom /* Wrapper for any blocks placed in the "content bottom" region */ {
}

/** navbar **/
#navbar {
}

#navbar-inner {
}

#search-box /* Wrapper for the search form */ {
}

#edit-search-theme-form-1-wrapper label /* Label that says "Search this site:" */ {
display:none
}

#primary /* Primary links */ {
}

#secondary /* Secondary links */ {
}

/** sidebar-left **/
#sidebar-left {
}

#sidebar-left-inner {
}

/** sidebar-right **/
#sidebar-right {
}

#sidebar-right-inner {
}

/** footer **/
#footer {
}

#footer-inner {
}

#footer-message /* Wrapper for the footer message from Drupal "Site information"
and for any blocks placed in the footer region */ {
}

/** closure **/
#closure-blocks /* Wrapper for any blocks placed in the closure region */ {
}

/** Drupal nodes **/
.node /* Node wrapper */ {
}

.node-inner /* Additional wrapper for node */ {
}

.sticky /* A sticky node (displayed before others in a list) */ {
}

.node-unpublished /* Unpublished nodes */ {
/* background-color: #fff4f4; */
/* Drupal core uses a #fff4f4 background */
}

.node-unpublished div.unpublished,/* The word "Unpublished" displayed beneath the content. */
.comment-unpublished div.unpublished {
height:0;
overflow:visible;
color:#d8d8d8;
font-size:75px;
line-height:1;
font-family:Impact, "Arial Narrow", Helvetica, sans-serif;
font-weight:700;
text-transform:uppercase;
text-align:center;
word-wrap:break-word
/* A very nice CSS3 property */
}

.node-mine /* A node created by the current user */ {
}

.node-teaser /* A node displayed as teaser */ {
}

/* All nodes are given a node-type-FOO class that describes the type of
   * content that it is. If you create a new content type called
   * "my-custom-type", it will receive a "node-type-my-custom-type" class.
   */
.node-type-page /* Page content node */ {
}

.node-type-story /* Story content node */ {
}

.node h2.title /* Node title */ {
}

.marker /* "New" or "Updated" marker for content that is new or updated for the current user */ {
color:#c00
}

.node .picture /* The picture of the node author */ {
}

.node.node-unpublished .picture,.comment.comment-unpublished .picture {
position:relative
/* Otherwise floated pictures will appear below the "Unpublished" text. */
}

.node .meta /* Wrapper for submitted and terms data */ {
}

.node .submitted /* The "posted by" information */ {
}

.node .terms /* Node terms (taxonomy) */ {
}

.node .content /* Node content wrapper */ {
}

.node div.links /* Wrapper for node links */ {
margin:1em 0
}

ul.links /* Taxonomy links,node links,comment links */ {
margin:0;
padding:0
}

ul.links.inline {
display:inline
}

ul.links li {
display:inline;
list-style-type:none;
padding:0 0.5em
}

.preview .node /* Preview of the content before submitting new or updated content */ {
/* background-color: #ffffea; */
/* Drupal core uses a #ffffea background */
}

/** Drupal comments **/
#comments /* Wrapper for the list of comments and its title */ {
margin:1em 0
}

#comments-title /* Heading for the list of comments */ {
}

.comment /* Wrapper for a single comment */ {
}

.comment-inner /* Additional wrapper for a single comment */ {
}

.comment-preview /* Preview of the comment before submitting new or updated comment */ {
}

.comment.new /* A new comment since the user last viewed the page. */ {
}

.comment.odd /* An odd-numbered comment in the list of comments */ {
}

.comment.even /* An even-numbered comment in the list of comments */ {
}

.comment.first /* The first comment in the list of comments */ {
}

.comment.last /* The last comment in the list of comments */ {
}

.comment-unpublished /* Unpublished comments */ {
/* background-color: #fff4f4; */
/* Drupal core uses a #fff4f4 background */
}

.comment-unpublished div.unpublished /* The word "Unpublished" displayed beneath the content. See also the div.unpublished declaration in the node section above. */ {
}

.comment-published /* Published comments */ {
}

.comment-by-anon /* A comment created by an anonymous user */ {
}

.comment-by-author /* A comment created by the node author */ {
}

.comment-mine /* A comment created by the current user */ {
}

.comment h3.title /* Comment title */ {
}

.new /* "New" marker for comments that are new for the current user */ {
color:#c00
}

.comment .picture /* The picture of the comment author */ {
}

.comment .submitted /* The "posted by" information */ {
}

.comment .content /* Comment content wrapper */ {
}

.comment .user-signature /* The user signature */ {
}

.comment div.links /* Wrapper for comment links. See also the ul.links declaration in the node section above. */ {
margin:1em 0
}

.indented /* Nested comments are indented */ {
/* margin-left: 25px; */
/* Drupal core uses a 25px left margin */
}

.preview .comment /* Preview of the comment before submitting new or updated comment */ {
/* background-color: #ffffea; */
/* Drupal core uses a #ffffea background */
}

/** Drupal blocks **/
.block /* Block wrapper */ {
}

.block.region-odd /* Zebra striping for each block in the region */ {
}

.block.region-even /* Zebra striping for each block in the region */ {
}

.block.odd /* Zebra striping independent of each region */ {
}

.block.even /* Zebra striping independent of each region */ {
}

.region-count-1 /* Incremental count for each block in the region */ {
}

.count-1 /* Incremental count independent of each region */ {
}

.block-inner /* Additional wrapper for block */ {
}

.block h2.title /* Block title */ {
}

.block .content /* Block content wrapper */ {
}

#block-aggregator-category-1 /* Block for the latest news items in the first category */ {
}

#block-aggregator-feed-1 /* Block for the latest news items in the first feed */ {
}

#block-block-1 /* First administrator-defined block */ {
}

#block-blog-0 /* "Recent blog posts" block */ {
}

#block-book-0 /* "Book navigation" block for the current book table of contents */ {
}

#block-comments-0 /* "Recent comments" block */ {
}

#block-forum-0 /* "Active forum topics" block */ {
}

#block-forum-1 /* "New forum topics" block */ {
}

#block-menu-2 /* "Primary links" block */ {
}

#block-node-0 /* "Syndicate" block for primary RSS feed */ {
}

#block-poll-0 /* "Most recent poll" block */ {
}

#block-profile-0 /* "Author information" block for the profile of the page author */ {
}

#block-search-0 /* "Search form" block */ {
}

#block-statistics-0 /* "Popular content" block */ {
}

#block-user-0 /* "User login form" block */ {
}

#block-user-1 /* "Navigation" block for Drupal navigation menu */ {
}

#block-user-2 /* "Who new" block for a list of the newest users */ {
}

#block-user-3 /* "Who online" block for a list of the online users */ {
}

/** Drupal boxes **/
/* Wrapper for Comment form, Comment viewing options, Menu admin, and
   * Search results.
   */
.box /* Wrapper for box */ {
}

.box-inner /* Additional wrapper for box */ {
}

.box h2.title /* Box title */ {
}

.box .content /* Box content wrapper */ {
}

/** Miscellaneous Drupal styles **/
.error /* Errors that are separate from div.messages status messages (see above.) */ {
/* color: #e55; */
/* Drupal core uses a #e55 background */
}

.warning /* Warnings that are separate from div.messages status messages (see above.) */ {
/* color: #e09010; */
/* Drupal core uses a #e09010 background */
}

.more-link /* Aggregator,blog,and forum more link */ {
text-align:right
}

#user-login-form /* Drupal default login form */ {
text-align:left
}

tr.even /* Some tables have rows marked even or odd. */ {
/* background-color: #eee; */
/* Drupal core uses a #eee background */
}

tr.odd {
/* background-color: #eee; */
/* Drupal core uses a #eee background */
}

li a.active /* The active item in a Drupal menu */ {
color:#000
}

/** Drupal forms **/
.form-item,/* Wrapper for a form element (or group of form elements) and its label */
.form-checkboxes,.form-radios {
margin:1em 0
}

.form-item input.error,/* Highlight the form elements that caused a form submission error */
.form-item textarea.error,.form-item select.error {
border:2px solid #c00
}

.form-item label /* The label for a form element */ {
display:block;
font-weight:700
}

.form-item label.option /* The label for a radio button or checkbox */ {
display:inline;
font-weight:400
}

.form-required /* The part of the label that indicates a required field */ {
color:#c00
}

.form-item .description /* The descriptive help text (separate from the label) */ {
font-size:0.85em
}

.form-checkboxes .form-item,/* Pack groups of checkboxes and radio buttons closer together */
.form-radios .form-item {
margin:0.4em 0
}

.form-submit /* The submit button */ {
}

.container-inline div,.container-inline label /* Inline labels and form divs */ {
display:inline
}

.tips /* Tips for Drupal input formats */ {
margin:0;
padding:0;
font-size:0.9em
}

/** OpenID **/
/* The default styling for the OpenID login link seems to assume Garland
   * styling of list items.
   */
#user-login-form ul /* OpenID creates a new ul above the login form links. */ {
margin-bottom:0
/* Position OpenID ul next to the rest of the links. */
}

#user-login-form li.openid-link,/* The "Log in using OpenID" links. */
#user-login li.openid-link {
margin-top:1em;
margin-left:-20px;
/* Un-do some of the padding on the ul list. */
padding-left:20px;
background-position:left center
}

#user-login-form li.user-link,/* The "Cancel OpenID login" links. */
#user-login li.user-link {
margin-top:1em;
list-style-type:disc;
list-style-position:outside
}

#user-login li.openid-link,/* The OpenID links on the /user form. */
#user-login li.user-link {
margin-left:-2em
/* Un-do all of the padding on the ul list. */
}

/** Drupal admin tables **/
/* We overrode these styles in html-elements.css, but restore them for the
   * forms on the site.
   */
form tbody {
border-top:1px solid #ccc
}

form th {
text-align:left;
padding-right:1em;
border-bottom:3px solid #ccc
}

form tbody th {
border-bottom:1px solid #ccc
}

form thead th {
text-align:left;
padding-right:1em;
border-bottom:3px solid #ccc
}



/* stuff you probably will not need to change - includes admin coloring */
quote, code, fieldset { margin: .5em 0; }
input { color: #494949; font: 1em Verdana, sans-serif; }
textarea, select { color: #494949; font: 1em Verdana, sans-serif; }
.resizable-textarea {max-width:380px}
fieldset ul.clear-block li {margin: 0; padding: 0; }
fieldset { background: #fff; border: 1px solid #EAEAEA; margin: 1em 0; padding: 1em; }
fieldset legend { display: block; }


/** Support Tables, Forum Tables and Administrations **/
table { margin: 1em 0; width: 100%}
thead th { border-bottom: 2px solid #d4e7f3; color: #494949; font-weight: 700; }
tbody { border-top:none; }
th a:link, th a:visited { color: #7f7f7f; }
td, th { padding: .3em .5em; }
tr.even, tr.odd, tbody th { border: solid #d4e7f3; border-width: 1px 0; }
tr.odd, tr.info { background-color: #edf5fa; }
tr.even { background-color: #fff; }
tr.drag { background-color: #fffff0; }
tr.drag-previous { background-color: #ffd; }
tr.odd td.active { background-color: #d4e7f3; }
tr.even td.active { background-color: #edf5fa; }
td.region, td.module, td.container, td.category { background-color: #d4e7f3; border-bottom: 1px solid #b4d7f0; border-top: 1.5em solid #fff; color: #666; font-weight: 700; }
tr:first-child td.region, tr:first-child td.module, tr:first-child td.container, tr:first-child td.category { border-top-width: 0; }
tr.odd td.menu-disabled { background-color: #edf5fa; }
tr.even td.menu-disabled { background-color: #fff; }
tr.selected td a:link, tr.selected td a:visited, tr.selected td a:active { color: #d4e7f3; }
tr.taxonomy-term-divider-top { border-bottom: none; }
tr.taxonomy-term-divider-bottom { border-top: 1px dotted #ccc; }

#autocomplete li { cursor: default; margin: 0; padding: 2px; }
#autocomplete li.selected, tr.selected td, tr.selected td.active { background: #027ac6; color: #fff; }
.form-checkboxes, .form-radios, .form-checkboxes .form-item, .form-radios .form-item { margin: .25em 0; }
#center form { margin-bottom: 2em; }
.form-button, .form-submit { margin: 0 .5em 1em 0; }
#dblog-form-overview .form-submit, .confirmation .form-submit, .search-form .form-submit, .poll .form-submit, fieldset .form-button, fieldset .form-submit, .sidebar .form-button, .sidebar .form-submit, table .form-button, table .form-submit { margin: 0; }

div.admin-panel, div.admin-panel .description, div.admin-panel .body, div.admin, div.admin .left, div.admin .right, div.admin .expert-link, div.item-list, .menu { margin: 0; padding: 0; }
div.admin h3 { margin-bottom: 0; }
div.admin .left { float: left; width: 48%; }
div.admin .right { float: right; width: 48%; }
div.admin-panel { background: none; padding: 1em 1em 1.5em; }
div.admin-panel .description { margin-bottom: 1.5em; }
div.admin-panel dl { margin: 0; }
div.admin-panel dd { color: #898989; font-size: .92em; line-height: 1.3em; margin-bottom: .65em; margin-top: -.2em; }

.messages { background-color: #fff; border: 1px solid #b8d3e5; }
.preview { background-color: #fcfce8; border: 1px solid #e5e58f; }
.preview .node { background-color: #fcfce8; }

span.form-required { color: #ffae00; }
.description { color: #898989; font-size: .92em; line-height: 150%; margin-bottom: .75em; }
.messages, .preview { margin: .75em 0; padding: .5em 1em; }
.messages ul { margin: 0; }
.box { margin-bottom: 2.5em; }
.profile dd { margin-bottom: 1.6em; }
.profile h3 { border-bottom: none; }

div.status { border-color: #c7f2c8; color: #33a333; }
div.error, tr.error { background-color: #fcc; color: #a30000; }
.form-item input.error, .form-item textarea.error { border: 1px solid #c52020; color: #363636; }

table.system-status-report th { border-color: #d4e7f3; }
table.system-status-report tr.error, table.system-status-report tr.error th { background-color: #fcc; border-color: #ebb; color: #200; }
table.system-status-report tr.warning, table.system-status-report tr.warning th { background-color: #ffd; border-color: #eeb; }
table.system-status-report tr.ok, table.system-status-report tr.ok th { background-color: #dfd; border-color: #beb; }
