/* $Id:

/*
 * LAYOUT STYLES
 *
 * Define CSS classes to create a table-free, 3-column, 2-column, or single
 * column layout depending on whether blocks are enabled in the left or right
 * columns.
 *
 * This layout is based on the Zen Columns layout method.
 *   http://drupal.org/node/201428
 *
 * Only CSS that affects the layout (positioning) of major elements should be
 * listed here.  Such as:
 *   display, position, float, clear, width, height, min-width, min-height
 *   margin, border, padding, overflow
 */



/** body **/
body {
background:#BFD2D7 url(images/bg.png) repeat-x scroll 0 0;
margin:0;
padding:0;
color:#777
}

#page,#closure-blocks {
/*
     * If you want to make the page a fixed width and centered in the viewport,
     * this is the standards-compliant way to do that. See also the ie.css file
     * for the necessary IE5 hack to center a div.
     */
margin-left:auto;
margin-right:auto;
width:960px;
text-align:left
}

#page-inner {
}

#navigation-top,
#navigation {
position:absolute;
/* Take the named anchors out of the doc flow    */
left:-10000px
/* and prevent any anchor styles from appearing. */
}

#back-to-top {
float:left;
margin:0 10px 0 0;
}

#back-to-top a:link, #back-to-top a:visited {
color:#ccc;
background:#333;
padding:1px
/* Same as background color of page */
}

#back-to-top a:hover {
color:#fff;
}

/** header **/
#header {
position:relative;
min-height:60px;
margin:0;
padding:0 ;
background:transparent url(images/bghead.png) repeat scroll 0 0;
z-index:5
}

#header-inner {
padding:0 10px;
}

#logo-title /* Wrapper for logo,website name,and slogan */ {
float:left;
width:40%
}

#logo /* Wrapper for logo */ {
margin:5px 10px 0 0;
padding:0;
}

#logo-image /* The actual logo image */ {
}

h1#site-name,div#site-name /* The name of the website */ {
margin:0;
}

a:link,a:visited {
color:#006699;
text-decoration:none
}

a:hover {
text-decoration:none;
color:#000;
}

#site-slogan /* The slogan (or tagline) of a website */ {
display:block;
clear:left;
color:#fff;
letter-spacing:3px;/*Adjust as you please*/
}

#site-name a:hover{
text-decoration:none;
}

#header-blocks /* Wrapper for any blocks placed in the header region */ {
clear:both
/* Clear the logo */
}

/** main (container for everything else) **/
#main {
position:relative;
overflow:hidden;
clear:both;
float:left;
width:100%;
background-color:#fff;
min-height:400px
/*dev only:
background:url(grid16.gif) repeat*/
}

#main-inner {
float:left;
margin-left:-240px;
position:relative;
right:100%;
width:200%;
border-right:1px solid #eaeaea
}

.farleft {
float:left;
margin-left:-190px;
width:100%;
border-right:1px solid #eaeaea;
min-height:320px
}

/** content **/
#content {
}

#content,.no-sidebars #content {
float:left;
width:960px;
padding:0
/* DO NOT CHANGE. Add padding or margin to #content-inner. */
}

#content-inner {
left:100%;
margin:0 15px 0 435px;
overflow:hidden;
position:relative;
padding:10px 0 0;
}

.sidebar-left #content {
}

.sidebar-right #content {
}

.two-sidebars #content {
float:left;
width:50%
}

/*One colum layout*/
.no-sidebars  #content,.no-sidebars .farleft, .no-sidebars #main-inner,.no-sidebars #content-inner {
margin:0;
width:100%
}
.no-sidebars #content-inner {
padding:20px;
}


#mission /* The mission statement of the site (displayed on homepage) */ {
border:1px solid #eaeaea;
padding:10px;
margin:10px 0 20px;
font-size:120%;
}

h1,h2,h3,h4,h5,h6 {
font-family:Georgia,"Times New Roman",serif;
margin:0;
padding:0;
font-weight:100
}

h1 {
font-size:1.8em;
margin:.5em 0
}

h2 {
font-size:1.25em;
margin:.75em 0 .5em
}

h3 {
font-size:1.2em;
margin:.5em 0
}

h4 {
font-size:1.1667em;
margin:.5em 0
}

#content-top /* Wrapper for any blocks placed in the "content top" region */ {
}

#content-header /* Wrapper for breadcrumb,title,messages,tabs,and help */ {
clear:both;
padding:5px 0
}

.breadcrumb /* The path to the current page in the form of a list of links */ {
padding-bottom:0
/* Undo system.css */
}

h1.title {
line-height:normal;
margin:0 0 .5em
}

#content-header h1.title {
width:90%;/*Allow space for avatar*/
}

h2.title,/* Block title or the title of a piece of content when it is given in a list of content */
h3.title /* Comment title */ {
margin:0
}

div.messages /* Important messages (status,warning,and error) for the user */ {
}

div.status /* Normal priority messages */ {
}

div.warning,tr.warning /* Medium priority messages */ {
/* border: 1px solid #f0c020; */
/* Drupal core uses: 1px solid #f0c020 */
}

div.error,tr.error /* High priority messages. See also the .error declaration below. */ {
}

div.tabs /* See also the tabs.css file. */ {
}

div.tabs li {
display:inline;
margin-right:.5em;
}
.help /* Help text on a page */ {
margin:1em 0
}

.more-help-link /* Link to more help */ {
font-size:0.85em;
text-align:right
}

#content-area /* Wrapper for the actual page content */ {
}

.item-list ul.pager {
margin:1em 0;
text-align:center
}

.item-list ul.pager li {
margin:0;
padding:0
}

.item-list ul.pager li a:link,.item-list ul.pager li a:visited,.item-list ul.pager li.pager-current {
background-color:#f5f5f5;
border:1px solid #ccc;
color:#999;
font-size:.8333em;
font-weight:700;
margin:.3em .1em;
padding:.3em .5em
}

.item-list ul.pager li a:hover,.item-list ul.pager li a:active {
border:1px solid #999;
color:#666
}

.item-list ul.pager li.pager-current {
background-color:#000;
border:1px solid #ccc;
color:#fff
}

.feed-icons /* The links to the RSS or Atom feeds for the current list of content */ {
margin:0;
position:absolute;
right:210px;
top:15px
}

#content-bottom /* Wrapper for any blocks placed in the "content bottom" region */ {
}

/** navbar **/
#navbar {
padding:0;
background:transparent url(images/curvetop.png) no-repeat scroll 0 0;
height:60px;
position:relative;
z-index:4
}

#navbar ul /* Primary and secondary links */ {
margin:0;
padding:0;
}

#navbar li /* A simple method to get navbar links to appear in one line. */ {
display:inline
}

#navbar-inner {
padding:0 10px 0px;
position:relative;
font-size:1.12em;
}

#search-box /* Wrapper for the search form */ {
display:inline;
float:right;
margin:0;/*do not change*/
padding-top:15px
}

#search label /* Label that says "Search this site:" */ {
display:none
}

#search {
width:190px;
height:32px;
background:transparent url(images/search.png) no-repeat left center;
}

#edit-search-theme-form-1 div {
margin:0;
padding-right:0
}
#search input.form-text{
width:150px;
background:none;
border:none;
margin:8px 0 0 10px;
font-size:11px
}

#search .form-submit {
margin:0;
display:none;
}

.sidebar #search #edit-search-theme-form-keys {
width:auto
}

#search #edit-search-theme-form-keys {
border:none;
background-color:transparent
}

/* Primary links or alternatively support primary-links as block for advance theming, such as with icons. Choose one!*/
#primary,
#block-menu-primary-links .block-inner ul.menu{
float:right;
padding:0;
}

#primary li{margin:0;padding:0 1px;display:inline;float:left;height:60px}
#primary li a, #block-menu-primary-links li a {
border-top:1px solid #296F95;
color:#AAC8E0;
padding:8px 8px 45px 8px;/*adjust to match logo height*/
margin:0;
display:block
}

#primary li a:hover,#primary li a.active,#primary li.active-trail a,
#block-menu-primary-links li a:hover,
#block-menu-primary-links li a.active,
#block-menu-primary-links li.active-trail a {
background:transparent url(images/bgprimary.png) repeat scroll 0 0;
border-top:1px solid #062129;
color:#EEEEEE;  
}

#primary li a.active,#primary li.active-trail a,
#block-menu-primary-links  li a.active,#block-menu-primary-links  li.active-trail a{
font-weight:800
}

#secondary, #block-menu-primary-links .block-inner ul.menu li ul.menu  {
float:left;/*make border appear*/
line-height:14px;
background-color:transparent;
width:70%;/*Spare some spce for feed icon and search block*/
padding-top:20px;/*do not change*/
}

#secondary li,#block-menu-primary-links li{
  float:left;
  padding: 0 8px 0 5px;
}
#secondary li a,#block-menu-primary-links li ul.menu li a{
color:#AAC8E0;
display: block;
float: left;
padding: 5px 8px 11px 0;
}

#secondary li a:hover, #block-menu-primary-links li ul.menu li a:hover {
color:#eee;
}

#secondary li.active-trail, #block-menu-primary-links li ul.menu li.active-trail {
background: transparent url(images/tableft.png) no-repeat left top;
color:#000;
padding-left:10px
}

#secondary li.active-trail a, #block-menu-primary-links li ul.menu li.active-trail a {
background: transparent url(images/tabright.png) no-repeat right top;
color:#000;
font-weight:800
}


/** sidebar-left **/
#sidebar-left {
padding:0;
/* DO NOT CHANGE. Add padding or margin to #sidebar-left-inner. */
float:right;
left:170px;
position:relative;
width:160px
}

#sidebar-left-inner {
margin:0;
padding:20px 0
}

/** sidebar-right **/
#sidebar-right {
padding:0;
/* DO NOT CHANGE. Add padding or margin to #sidebar-right-inner. */
float:right;
left:570px;
position:relative;
width:220px
}

#sidebar-right-inner {
margin:0;
padding:20px 0
}

body.two-sidebars .farleft {
float:left;
margin-left:-180px;
width:100%;
border-right:1px solid #eaeaea;
position:relative
}

body.one-sidebar .farleft {
float:left;
margin-left:0;
width:100%;
border-right:1px solid #eaeaea
}

body.sidebar-right #main-inner {
}

body.one-sidebar #sidebar-right,body.one-sidebar #sidebar-left {
left:230px;
width:220px
}

body.one-sidebar #content {
left:190px;
width:960px
}

body.one-sidebar #content-inner {
margin:0 15px 0 255px
}

.block ul {
margin:0;
padding:0 0 0.25em 0.5em
}

/** footer **/
#footer {
background:transparent url(images/curvebot.png) no-repeat scroll center top;
clear:both;
float:left;
width:100%;
color:#476B86
}

#footer-inner {
letter-spacing:1px;
line-height:normal;
padding:20px 0 0;
font-variant:small-caps;
}

#footer li,#footer li a {
background:none;
border:0;
display:inline;
padding:0.2em 1em 0.2em 0;
margin:0
}

#footer .block {
background:none
}

#footer .block ul {
padding:0
}

/** closure **/
#closure-blocks /* See also the #page declaration above that this div shares. */ {
float:left;/*correct zen bugs */
}

/** Prevent overflowing content **/
#header,#content,#navbar,#sidebar-left,#sidebar-right,#footer,#closure-blocks {
overflow:visible;
word-wrap:break-word
/* A very nice CSS3 property */
}

#navbar {
clear:both;
/* May need to be removed if using a dynamic drop-down menu */
}

.block-user .form-item label {
}

#footer-message /* Wrapper for the footer message from Drupal "Site information"
and for any blocks placed in the footer region */ {
float:right
}

/** closure **/
#closure-blocks /* Wrapper for any blocks placed in the closure region */ {
}

/** Drupal nodes **/
.node /* Node wrapper */ {
}

.node-inner /* Additional wrapper for node */ {
padding-bottom:.5em;
margin-bottom:2em;
border-bottom:1px solid #EAEAEA;
/*no float float:left;*/
}

.sticky /* A sticky node (displayed before others in a list) */ {
border-top:1px solid #D4E7F3;
border-bottom:1px solid #D4E7F3;
margin-bottom:20px;
}
/*Make sure only applies to the front*/
.sticky .node-inner{
border-top:2px solid #D4E7F3;
border-bottom:2px solid #D4E7F3;
background-color:#ECF6FD;
padding:10px;
margin:1px 0
}
.node-unpublished /* Unpublished nodes */ {
/* background-color: #fff4f4; */
/* Drupal core uses a #fff4f4 background */
}

.node-unpublished div.unpublished,/* The word "Unpublished" displayed beneath the content. */
.comment-unpublished div.unpublished {
height:0;
overflow:visible;
color:#d8d8d8;
font-size:75px;
line-height:1;
font-family:Impact, "Arial Narrow", Helvetica, sans-serif;
font-weight:700;
text-transform:uppercase;
text-align:center;
word-wrap:break-word
/* A very nice CSS3 property */
}

.node-mine /* A node created by the current user */ {
}

.node-teaser /* A node displayed as teaser */ {
}

/* All nodes are given a node-type-FOO class that describes the type of
   * content that it is. If you create a new content type called
   * "my-custom-type", it will receive a "node-type-my-custom-type" class.
   */
.node-type-page /* Page content node */ {
}

.node-type-story /* Story content node */ {
}

.marker /* "New" or "Updated" marker for content that is new or updated for the current user */ {
color:#c00
}

.node .picture,.comment .picture /* The picture of the node author */ {
float:right;
margin:5px 0 10px 10px;
}

/*Adjust back the width of title for full page*/
body.section-node #content-header h1.title{
width:100%
}


/*Make sure that the avatar size doesn't break layout. You have to set your imagecache avatar preset to this size.*/
.node .picture img,.comment .picture img{
width:40px;
height:40px;
}

.node.node-unpublished .picture,.comment.comment-unpublished .picture {
position:relative
/* Otherwise floated pictures will appear below the "Unpublished" text. */
}

.node .meta /* Wrapper for submitted and terms data */ {
}

.node .submitted,ul.links.inline,.comment .submitted /* The "posted by" information */ {
color:#777;
font-size:.92em
}

.node .terms /* Node terms (taxonomy) */ {
}

.node .content /* Node content wrapper */ {
line-height:1.4em
}

.node div.links /* Wrapper for node links */ {
margin:1em 0
}

ul.links /* Taxonomy links,node links,comment links */ {
margin:0;
padding:0
}

ul.links.inline {
display:inline
}

ul.links li {
display:inline;
list-style-type:none;
padding:0 0.5em 0 0
}

.preview .node /* Preview of the content before submitting new or updated content */ {
/* background-color: #ffffea; */
/* Drupal core uses a #ffffea background */
}

/** Drupal comments **/
#comments /* Wrapper for the list of comments and its title */ {
margin:1em 0
}

#comments-title /* Heading for the list of comments */ {
font-size:1.4em;
font-variant:small-caps;
font-weight:200;
letter-spacing:.5px  
}

.comment /* Wrapper for a single comment */ {
}

.comment-inner /* Additional wrapper for a single comment */ {
padding:10px
}

.comment-preview /* Preview of the comment before submitting new or updated comment */ {
}

.comment.new /* A new comment since the user last viewed the page. */ {
}

.comment.odd /* An odd-numbered comment in the list of comments */ {
background-color:#EDF5FA
}

.comment.even /* An even-numbered comment in the list of comments */ {
}

.comment.first /* The first comment in the list of comments */ {
}

.comment.last /* The last comment in the list of comments */ {
}

.comment-unpublished /* Unpublished comments */ {
/* background-color: #fff4f4; */
/* Drupal core uses a #fff4f4 background */
}

.comment-unpublished div.unpublished /* The word "Unpublished" displayed beneath the content. See also the div.unpublished declaration in the node section above. */ {
}

.comment-published /* Published comments */ {
}

.comment-by-anon /* A comment created by an anonymous user */ {
}

.comment-by-author /* A comment created by the node author */ {
}

.comment-mine /* A comment created by the current user */ {
}

.comment h3.title /* Comment title */ {
}

.new /* "New" marker for comments that are new for the current user */ {
color:#c00
}

.comment .picture /* The picture of the comment author */ {
}

.comment .submitted /* The "posted by" information */ {
}

.comment .content /* Comment content wrapper */ {
}

.comment .user-signature /* The user signature */ {
}

.comment div.links /* Wrapper for comment links. See also the ul.links declaration in the node section above. */ {
margin:1em 0
}

.indented /* Nested comments are indented */ {
/* margin-left: 25px; */
/* Drupal core uses a 25px left margin */
}

.preview .comment /* Preview of the comment before submitting new or updated comment */ {
/* background-color: #ffffea; */
/* Drupal core uses a #ffffea background */
}

/** Drupal blocks **/
.block /* Block wrapper */ {
margin-bottom:15px;
padding-bottom:15px
}

/*Reset defaults when using primary-links as block to make secondary-links collapsible*/
#navbar .block{
margin-bottom:0;
padding-bottom:0
}

#sidebar-left .block, #sidebar-right .block {
background:url(images/separator.png) no-repeat center bottom;
}

.block.region-odd /* Zebra striping for each block in the region */ {
}

.block.region-even /* Zebra striping for each block in the region */ {
}

.block.odd /* Zebra striping independent of each region */ {
}

.block.even /* Zebra striping independent of each region */ {
}

.region-count-1 /* Incremental count for each block in the region */ {
}

.count-1 /* Incremental count independent of each region */ {
}

.block-inner /* Additional wrapper for block */ {
  position:relative
}

.block h2.title /* Block title */ {
font-size:1.4em;
font-variant:small-caps;
font-weight:200;
letter-spacing:1px
}

.block .content /* Block content wrapper */ {
}

#block-aggregator-category-1 /* Block for the latest news items in the first category */ {
}

#block-aggregator-feed-1 /* Block for the latest news items in the first feed */ {
}

#block-block-1 /* First administrator-defined block */ {
}

#block-blog-0 /* "Recent blog posts" block */ {
}

#block-book-0 /* "Book navigation" block for the current book table of contents */ {
}

#block-comments-0 /* "Recent comments" block */ {
}

#block-forum-0 /* "Active forum topics" block */ {
}

#block-forum-1 /* "New forum topics" block */ {
}

#block-menu-2 /* "Primary links" block */ {
}

#block-node-0 /* "Syndicate" block for primary RSS feed */ {
}

#block-poll-0 /* "Most recent poll" block */ {
}

#block-profile-0 /* "Author information" block for the profile of the page author */ {
}

#block-search-0 /* "Search form" block */ {
}

#block-statistics-0 /* "Popular content" block */ {
}

#block-user-0 /* "User login form" block */ {
}

#block-user-1 /* "Navigation" block for Drupal navigation menu */ {
}

#block-user-2 /* "Who new" block for a list of the newest users */ {
}

#block-user-3 /* "Who online" block for a list of the online users */ {
}

/** Drupal boxes **/
/* Wrapper for Comment form, Comment viewing options, Menu admin, and
   * Search results.
   */
.box /* Wrapper for box */ {
}

.box-inner /* Additional wrapper for box */ {
}

.box h2.title /* Box title */ {
}

.box .content /* Box content wrapper */ {
}

/** Miscellaneous Drupal styles **/
.error /* Errors that are separate from div.messages status messages (see above.) */ {
/* color: #e55; */
/* Drupal core uses a #e55 background */
}

.warning /* Warnings that are separate from div.messages status messages (see above.) */ {
/* color: #e09010; */
/* Drupal core uses a #e09010 background */
}

.more-link /* Aggregator,blog,and forum more link */ {
text-align:right
}

#user-login-form /* Drupal default login form */ {
text-align:left
}

li a.active /* The active item in a Drupal menu */ {
color:#000
}

.container-inline div,.container-inline label /* Inline labels and form divs */ {
display:inline
}

.tips /* Tips for Drupal input formats */ {
margin:0;
padding:0;
font-size:0.9em
}

/** OpenID **/
/* The default styling for the OpenID login link seems to assume Garland
   * styling of list items.
   */
#user-login-form ul /* OpenID creates a new ul above the login form links. */ {
margin-bottom:0
/* Position OpenID ul next to the rest of the links. */
}

#user-login-form li.openid-link,/* The "Log in using OpenID" links. */
#user-login li.openid-link {
margin-top:1em;
margin-left:-20px;
/* Un-do some of the padding on the ul list. */
padding-left:20px;
background-position:left center
}

#user-login-form li.user-link,/* The "Cancel OpenID login" links. */
#user-login li.user-link {
margin-top:1em;
list-style-type:disc;
list-style-position:outside
}

#user-login li.openid-link,/* The OpenID links on the /user form. */
#user-login li.user-link {
margin-left:-2em
/* Un-do all of the padding on the ul list. */
}

/*Add a nice little pointer*/
.item-list ul li {
list-style-type:none;
margin:0.15em 0;
padding:0 0 0.2em .8em;
background:transparent url(images/li.png) no-repeat scroll 0 0.5em
}

.node h2.title a/* Node title */ {
font-size:1.6em;
}

.node h2.title a:hover, .node-inner li a:hover, .item-list li a:hover{
}

/*support codefilter module an custom block quote*/
blockquote, div.codeblock {
border-left:2px solid #eaeaea;
color:#777;
margin:5px 0 15px 20px;
padding:0 10px;
width:90%;
clear:both;
display:block;
float:left;
}
blockquote {
font-style:italic;
}

div.codeblock{
font-family:monospace;
font-size:1.2em
}